{% load staticfiles %}

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'wordapp_3/css/style.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'wordapp_3/css/bootstrap.min.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'wordapp_3/js/bootstrap.min.js' %}"></script>
</head>

{% block main_body %}
<body>
    <div class="bg-image"></div>
    <div class="splash-title">
        <p class="title">ITALENGLISH</p>
        <p>Non serve che impari l'inglese.</p>
        <p>Lo sai già.</p>
        <br/>
        <button class="btn btn-default btn-lg">Inizia ora</button>
    </div>
</body>
{% endblock %}

<p class="footer">a Turchetto Bros. production &copy; 2015</p>

</html>
