{% extends 'wordapp_3/base_desktop.html' %}

{% load staticfiles %}

{% block main_body %}

{% if alien_word %}
<p>This is what {{ alien_word.label }} means:</p>
<p>{{ alien_word.definition }}</p>
<hr>
<p>And this is why you know it already:</p>
{% for translation in translation_list %}

    <p>{{ translation.alien_word.label }} : <I>{{ translation.native_word.label }}</I> : {{ translation.native_translation_word.label }}</p>
    <p>{{ translation.native_description }}</p>
    <p>{{ translation.alien_description }}
    author: {{ translation.author }}
    <img class="author-pic" src="{{ translation.author.profile.pic_url }}">
    </p>
    <img class="translation-pic" src="{{ translation.pic_url }}">
    <hr>

{% endfor %}




{% else %}
<p>Looks like this word does not exist yet. Add it?</p>
{% endif %}

{% endblock %}
