<div id='top_bar' style="text-align: center">
    <a href="/" style="text-decoration: none"><span class='logo logo_desktop'><h1>ITALENGLISH</h1></span</a>
    <div style="padding-bottom: 15px">
        <a href="/translate/show_list" style="text-decoration: none"><span class='top_bar_menu_item top_bar_menu_item_desktop'>list</span></a>
        &middot;
        <a href="/profile" style="text-decoration: none"><span class='top_bar_menu_item top_bar_menu_item_desktop'>account</span></a>
        &middot;
        <a href="/logout" style="text-decoration: none"><span class='top_bar_menu_item top_bar_menu_item_desktop'>logout</span></a>
    </div>
</div>
